@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap");

:root {
  --clr-main: #02201b;
  --clr-main-light: #785ce9;
  --clr-white: #ececec;
  --clr-gray: #e2e2e2;
  --clr-red: #961818;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}
/*Section header complete*/
.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  background-color: white;
}
.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 5vh;
  background-color: whitesmoke;
}
.header .header_btn i {
  color: rgba(0, 0, 0, 0.61);
  font-size: 16px;
  padding: 2px;
  background-color: rgba(128, 128, 128, 0.301);
  border-radius: 5px;
}
.header_btn i:hover {
  background-color: whitesmoke;
}
.header_center h2 {
  font-size: 15px;
  color: rgba(0, 0, 0, 0.548);
}
/*HEADER SEARCH*/
.header_search {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  height: 8vh;
  background-color: rgb(245, 245, 245);
}
.search input {
  width: 500px;
  height: 40px;
  outline: none;
  border: 1px solid black;
  border-radius: 10px;
  padding: 0 0 0 10px;
}
.header_car i {
  font-size: 25px;
  margin-right: 5px;
  padding: 5px;
  border-radius: 10px;
  transition: 0.3s ease-in-out;
}
.header_car i:hover {
  background-color: rgb(165, 165, 165);
}
/*main navigation*/
.nav {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5vh;
  background-color: whitesmoke;
}
.nav .main {
  display: flex;
}
.main .main-i {
  margin: 15px;
  list-style-type: none;
}
.main .main-i a {
  position: relative;
  text-decoration: none;
  color: black;
}
.main-i a:hover::after {
  opacity: 1;
  width: 100%;
}

.main-i a::after {
  content: "";
  position: absolute;
  width: 0%;
  opacity: 0;
  top: 17px;
  left: 0;
  height: 2px;
  background-color: red;
  transition: 0.3s ease-in-out;
}
/*Carousel offerts Lading*/
.carousel_container {
  display: flex;
  width: 100%;
  height: 60vh;
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url(https://media.gq.com.mx/photos/6279755698ce0267fa610a0b/4:3/w_1928,h_1446,c_limit/ropa-de-moda-para-hombre-2022.jpg);
  background-repeat: none;
  background-size: cover;
  align-items: center;
}
.carousel_center {
  display: flex;
  flex-direction: column;
  margin-left: 50px;
}
.carousel_center h3 {
  color: white;
  margin-bottom: 10px;
  font-size: 25px;
}
.carousel_center span {
  color: wheat;
  font-size: 30px;
  max-width: 400px;
  margin-bottom: 10px;
}
.carousel_center p {
  color: white;
  font-size: 19px;
  margin-bottom: 10px;
}
button {
  --color: #00a97f;
  padding: 0.8em 1.7em;
  background-color: transparent;
  border-radius: 0.3em;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  transition: 0.5s;
  font-weight: 400;
  font-size: 17px;
  border: 1px solid;
  font-family: inherit;
  text-transform: uppercase;
  color: var(--color);
  z-index: 0;
}

button::before,
button::after {
  content: "";
  display: block;
  width: 50px;
  height: 50px;
  transform: translate(-50%, -50%);
  position: absolute;
  border-radius: 50%;
  z-index: -1;
  background-color: var(--color);
  transition: 1s ease;
}

button::before {
  top: -1em;
  left: -1em;
}

button::after {
  left: calc(100% + 1em);
  top: calc(100% + 1em);
}

button:hover::before,
button:hover::after {
  height: 410px;
  width: 410px;
}

button:hover {
  color: rgb(10, 25, 30);
}

button:active {
  filter: brightness(0.8);
}
/*modal content*/
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-contenido {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(49, 49, 49);
  width: 350px;
  height: 280px;
  border-radius: 10px;
}
.cerrar {
  display: flex;
  font-size: 40px;
}
.cerrar span {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  margin-left: 10px;
  border-radius: 100px;
  background-color: white;
  color: black;
  transition: .3s ease-in-out;
}
.cerrar span:hover{
    color: white;
    background-color: black;
}
.modal_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}
.modal_content h3{
    font-size: 22px;
}
.modal_content p {
  width: 200px;
  font-size: 15px;
  text-align: center;
  margin: 5px 0px 10px 0px;
}
.modal_content input {
  width: 200px;
  height: 40px;
  margin-bottom: 10px;
  padding: 0 0 0 10px;
  border-radius: 5px;
  outline: none;
  border: none;
  background-color: rgba(255, 255, 255, 0.911);
}
.modal_content button {
  height: 40px;
  padding: 10px;
}
@media screen and (max-width: 768px) {
    /*Section header complete*/
.wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    background-color: white;
  }
  .header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 5vh;
    background-color: whitesmoke;
  }
  .header_btn{
    display: flex;
  }
  .header .header_btn i {
    color: rgba(0, 0, 0, 0.61);
    font-size: 16px;
    padding: 2px;
    background-color: rgba(128, 128, 128, 0.301);
    border-radius: 5px;
  }
  .header_btn i:hover {
    background-color: whitesmoke;
  }
  .header_center h2 {
    font-size: 15px;
    color: rgba(0, 0, 0, 0.548);
  }
  .header_center{
    display: flex;
    text-align: center;
  }
  .header_right{
    display: flex;
  }
    /*HEADER SEARCH*/
.header_search {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: 8vh;
    background-color: rgb(245, 245, 245);
  }
  .search input {
    width: 150px;
    height: 40px;
    outline: none;
    border: 1px solid black;
    border-radius: 10px;
    padding: 0 0 0 10px;
  }
  .header_car i {
    font-size: 24px;
    margin-right: 5px;
    padding: 5px;
    border-radius: 10px;
    transition: 0.3s ease-in-out;
  }
  /*Carousel offerts Lading*/
.carousel_container {
    display: flex;
    width: 100%;
    height: 60vh;
    background-position: center;
    background-repeat: none;
    background-size: cover;
    align-items: center;
  }
}